  
<div class="wrapper">
  <h2 class="text-muted">Ingredients List</h2>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
    <span style='opacity:0'>//</span><i class="fas fa-plus-circle"></i>
  <% end %>
</div>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item d-flex justify-content-between">
      <%= dose.ingredient.name %>: <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete, data: {confirm: "do you want to delete this dose?"}, class: 'badge badge-light' do   %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>